.all-cases {
    @apply py-8;

    &__list {
        @apply grid
            grid-cols-3
            gap-[50px]
            md:gap-x-[124px]
            lg:grid-cols-4
            xl:grid-cols-5
            xl:gap-x-[183px]
            xl:gap-y-[110px];
    }

    &__item {
        @apply overflow-hidden;

        img {
            @apply w-full 
                h-full
                object-cover
                will-change-transform;

            transition-property: transform;
            transition-duration: calc(var(--index) * 0.5s);
            transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
            transition-delay: 0s;
            transform: translateY(0);
        }

        &-images {
            @apply w-full
            h-[44px]
            md:h-[96px]
            xl:h-[132px];

            &:hover {
                img ~ img {
                    transform: translateY(calc(var(--index) * 100% * -1));
                    transition-delay: calc(var(--index) * 0.25s);
                }
            }
        }
    }

    &__button:hover + * .all-cases__list,
    &__header:hover ~ .all-cases__list {
        img ~ img {
            transform: translateY(calc(var(--index) * 100% * -1));
            transition-delay: calc(var(--index) * 0.25s + var(--parent-index) * 0.03s);
        }
    }
}
