.barcode-block {
    @apply py-14;

    &__inner {
        @apply bg-cover/50
        p-6
        lg:p-14;
    }

    &__text {
        @apply text-balance
        text-[22px]
        leading-[1.2]
        md:text-[50px];
    }

    &__header {
        @apply xl:flex xl:items-end;
    }

    &__header-first {
        @apply text-left w-[65%] xl:flex-none xl:w-[33%];
    }

    &__header-second {
        @apply text-center xl:flex-none xl:w-[33%];
    }

    &__middle {
        @apply py-[150px]
            flex;

        .decor-link {
            @apply mt-4 
                uppercase 
                tracking-[0.3em]
                justify-center;
        }
    }

    &__item {
        @apply cursor-pointer
            py-4
            px-3
            pb-3
            mx-auto
            flex
            flex-col
            items-center
            text-center
            text-[12px]
            md:text-[18px]
            md:p-14;
    }

    &__bottom {
        @apply text-center
            md:text-right;
    }
}
