.cases-thumbs {
    @apply relative z-[5];

    &__scene {
        @apply h-[560px] md:h-[840px] xl:h-[1080px];

        .dummy-image {
            @apply w-full h-full object-cover;
        }
    }

    &__previews {
        @apply absolute z-[20]
            left-2
            right-2
            bottom-2
            md:left-5
            md:right-5
            md:bottom-5
            flex
            gap-2;

        &-item {
            @apply w-[140px]
                h-[90px]
                transition-all
                duration-300
                blur-[1.5px];

            img {
                @apply object-cover
                    object-center
                    w-full
                    h-full
                    transition-all
                    duration-300;
            }

            &.is-active {
                @apply blur-0;
            }
        }
    }
}
