.contact-links {
    @apply py-[120px];

    &__header {
        @apply font-secondary
            text-[18px]
            uppercase
            mb-10;
    }

    &__item {
        @apply font-base
            flex
            justify-between
            gap-4
            items-end
            text-[18px]
            border-b-[3px]
            border-white/20
            pb-2
            mb-4;

        a {
            @apply first:text-[32px]
                first:leading-[1.0]
                first:md:text-[64px]
                first:xl:text-[142px]
                last:font-secondary
                last:uppercase
                last:hidden
                last:xl:block;
        }
    }
}
