@layer components {
    .app-footer {
        @apply pt-12 pb-6;

        &__info-links {
            @apply font-secondary
                flex
                flex-col
                items-center
                mt-10
                gap-4
                text-[18px]
                tracking-[5.4px]
                lg:flex-row
                lg:justify-between
                lg:pb-3;
        }

        &__middle {
            @apply flex 
                    flex-col 
                    items-center 
                    text-center 
                    py-20
                    gap-4;

            a {
                @apply font-secondary 
                        uppercase
                        text-[10px]
                        md:text-[18px];
            }

            img {
                @apply inline-block max-w-[270px];
            }
        }

        &__bottom {
            @apply flex
                justify-between
                items-center
                gap-4;
        }

        &__number {
            @apply leading-[1.0]
                -tracking-wider
                text-[64px]
                font-brand
                overflow-hidden
                pointer-events-none
                h-[60px]
                md:text-[114px]
                md:h-[106px]
                xl:text-[250px]
                xl:h-[220px];
        }

        &__nav {
            @apply text-center
                text-[12px]
                hidden
                md:block
                lg:text-[16px];
        }

        &__add-links {
            @apply flex 
                    flex-col 
                    items-center
                    text-center
                    gap-1
                    pt-4
                    text-[10px]
                    lg:text-[16px];
        }
    }
}
