.main-block {
    @apply relative
        h-[762px]
        overflow-hidden
        pt-3
        md:h-[1087px]
        xl:h-[1920px];

    &__logo {
        @apply p-3
            mb-3
            select-none;
    }

    &__desc {
        @apply text-center
            text-secondary
            text-[12px]
            leading-[1.45]
            md:text-[18px]
            md:max-w-[90%]
            md:mx-auto
            xl:text-[22px]
            xl:max-w-[70%];
    }

    &__links {
        @apply mb-2
            mt-[420px]
            -mx-2
            md:mt-[550px]
            xl:mt-[600px];

        .swiper {
            @apply px-6 py-5;
        }

        .swiper-slide {
            @apply w-[250px]
                md:w-[360px]
                xl:w-[390px];
        }

        .button {
            @apply w-full;
        }
    }
}
