.main-projects {
    @apply py-20 xl:py-24;

    &__top {
        @apply text-center mb-5;
    }

    &__bottom {
        @apply text-center pt-6;

        p {
            @apply text-secondary/60
            text-balance 
            text-[12px]
            max-w-[600px]
            mx-auto
            md:text-[18px]
            xl:max-w-[800px];
        }

        .decor-link {
            @apply mt-4;
        }
    }

    &__middle {
        @apply relative;
    }

    &__slider {
        @apply relative z-[5];
    }

    &__slider-thumbs {
        @apply absolute z-[20]
            left-2 
            right-2 
            bottom-2
            md:left-5
            md:right-5
            md:bottom-5;

        .swiper-slide {
            @apply w-[140px] 
            h-[90px] 
            transition-all 
            duration-300
            blur-[1.5px];

            img {
                @apply object-cover
                    object-center
                    w-full
                    h-full 
                    transition-all
                    duration-300;
            }

            &.swiper-slide-thumb-active {
                @apply blur-0;
            }
        }
    }
}
