// tailwind
@use 'tailwindcss';

// base
@use '@/styles/base/libs';
@use '@/styles/base/defaults';

@use '@/styles/elements/button';
@use '@/styles/elements/angle-box';
@use '@/styles/elements/bracket-text';
@use '@/styles/elements/decor-link';
@use '@/styles/elements/sliders';
@use '@/styles/elements/forms';

// blocks
@use '@/styles/blocks/footer';
@use '@/styles/blocks/contact-main';
@use '@/styles/blocks/contact-links';
@use '@/styles/blocks/contact-form';

// theme
@at-root {
    @theme {
        --font-brand: 'Stalinist One', sans-serif;
        --font-secondary: Michroma, sans-serif;
        --font-base: Manrope, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        --color-dark: #030304;
        --color-secondary: #898585;
        --color-neutral: #615d5d;
        --color-button-bg: #302d2d66;
        --body-min-width: 320px;
        --container-max-width: 1880px;
    }
}
