@import 'tailwindcss';

@theme {
    --font-brand: 'Stalinist One', sans-serif;
    --font-secondary: Michroma, sans-serif;
    --font-base: Manrope, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --color-dark: #030304;
    --color-secondary: #898585;
    --color-neutral: #615d5d;
    --color-button-bg: #302d2d66;
    --body-min-width: 320px;
    --container-max-width: 1880px;
}

@layer base {
    @import 'swiper/css';
    @import './base/defaults.css';
}

@layer components {
    /* elements */
    @import './elements/button.css';
    @import './elements/angle-box.css';
    @import './elements/bracket-text.css';
    @import './elements/decor-link.css';
    @import './elements/sliders.css';
    @import './elements/forms.css';

    /* blocks */
    @import './blocks/footer.css';
    @import './blocks/contact-main.css';
    @import './blocks/contact-links.css';
    @import './blocks/contact-form.css';
}
