.decor-link {
    @apply relative
        outline-none
        no-underline
        inline-flex
        items-center
        transition-all
        duration-300
        before:content-['']
        before:absolute
        before:-bottom-[2px]
        before:left-0
        before:right-0
        before:h-[2px]
        before:bg-current
        before:transition-all
        before:duration-300
        before:scale-x-0
        before:rounded-sm
        hover:no-underline
        hover:before:scale-x-100
        focus-visible:outline-current
        focus-visible:outline-dashed
        focus-visible:outline-offset-4
        [&.is-active]:before:scale-x-100;

    &--hover-x {
        @apply hover:translate-x-[20px];
    }

    &--hover-y {
        @apply hover:translate-y-[20px];
    }

    &--hover-scale-up {
        @apply hover:scale-[1.02];
    }

    &--hover-scale-down {
        @apply hover:scale-[0.9];
    }
}
